In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import datasets

In [2]:
df = pd.read_csv('X_Train.csv')
df.head()

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,Caucasian,Female,[80-90),?,1,1,7,4,...,No,No,No,No,No,No,No,No,No,Yes
1,97835454,25776306,Caucasian,Female,[80-90),?,5,3,17,3,...,No,No,Steady,No,No,No,No,No,No,Yes
2,431347352,42491844,Caucasian,Male,[50-60),?,3,1,1,1,...,No,No,Steady,No,No,No,No,No,No,Yes
3,153301914,87104907,Caucasian,Female,[70-80),?,5,3,1,3,...,No,No,No,No,No,No,No,No,No,No
4,304851608,70844364,Caucasian,Female,[90-100),?,1,3,7,5,...,No,No,Steady,No,No,No,No,No,No,Yes

In [3]:
df["cast"].unique()

array(['Caucasian', 'AfricanAmerican', 'Other', '?', 'Asian', 'Hispanic'],
      dtype=object)

In [4]:
df["cast"] = df["cast"].map({ "Caucasian" : 1, "AfricanAmerican" : 2, "Other": 3, "?": 3, "Asian": 4, "Hispanic": 5}.get)
df.head()

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,Female,[80-90),?,1,1,7,4,...,No,No,No,No,No,No,No,No,No,Yes
1,97835454,25776306,1,Female,[80-90),?,5,3,17,3,...,No,No,Steady,No,No,No,No,No,No,Yes
2,431347352,42491844,1,Male,[50-60),?,3,1,1,1,...,No,No,Steady,No,No,No,No,No,No,Yes
3,153301914,87104907,1,Female,[70-80),?,5,3,1,3,...,No,No,No,No,No,No,No,No,No,No
4,304851608,70844364,1,Female,[90-100),?,1,3,7,5,...,No,No,Steady,No,No,No,No,No,No,Yes

In [5]:
df.groupby('cast').count()

,id,patient_no,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
cast,,,,,,,,,,,,,,,,,,,,,
1,53284,53284,53284,53284,53284,53284,53284,53284,53284,53284,...,53284,53284,53284,53284,53284,53284,53284,53284,53284,53284
2,13433,13433,13433,13433,13433,13433,13433,13433,13433,13433,...,13433,13433,13433,13433,13433,13433,13433,13433,13433,13433
3,2658,2658,2658,2658,2658,2658,2658,2658,2658,2658,...,2658,2658,2658,2658,2658,2658,2658,2658,2658,2658
4,466,466,466,466,466,466,466,466,466,466,...,466,466,466,466,466,466,466,466,466,466
5,1395,1395,1395,1395,1395,1395,1395,1395,1395,1395,...,1395,1395,1395,1395,1395,1395,1395,1395,1395,1395

In [6]:
df["gender"].unique()

array(['Female', 'Male', 'Unknown/Invalid'], dtype=object)

In [7]:
df["gender"] = df["gender"].map({ "Female" : 0, "Male" : 1, "Unknown/Invalid":2}.get)
df.groupby('gender').count()

,id,patient_no,cast,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
gender,,,,,,,,,,,,,,,,,,,,,
0,38212,38212,38212,38212,38212,38212,38212,38212,38212,38212,...,38212,38212,38212,38212,38212,38212,38212,38212,38212,38212
1,33022,33022,33022,33022,33022,33022,33022,33022,33022,33022,...,33022,33022,33022,33022,33022,33022,33022,33022,33022,33022
2,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [8]:
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,[80-90),?,1,1,7,4,...,No,No,No,No,No,No,No,No,No,Yes
1,97835454,25776306,1,0,[80-90),?,5,3,17,3,...,No,No,Steady,No,No,No,No,No,No,Yes
2,431347352,42491844,1,1,[50-60),?,3,1,1,1,...,No,No,Steady,No,No,No,No,No,No,Yes
3,153301914,87104907,1,0,[70-80),?,5,3,1,3,...,No,No,No,No,No,No,No,No,No,No
4,304851608,70844364,1,0,[90-100),?,1,3,7,5,...,No,No,Steady,No,No,No,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,[80-90),?,2,1,7,2,...,No,No,Steady,No,No,No,No,No,Ch,Yes
71232,290180694,44177697,1,1,[60-70),?,3,1,1,4,...,No,No,Up,No,No,No,No,No,Ch,Yes
71233,130101072,113734728,1,0,[80-90),?,2,3,7,6,...,No,No,No,No,No,No,No,No,No,No
71234,26933646,107965575,1,0,[80-90),?,2,6,20,4,...,No,No,Steady,No,No,No,No,No,No,Yes
71235,189027114,71449254,1,0,[50-60),?,1,1,7,2,...,No,No,Up,No,No,No,No,No,Ch,Yes

In [9]:
df["age group"].unique()

array(['[80-90)', '[50-60)', '[70-80)', '[90-100)', '[60-70)', '[20-30)',
       '[40-50)', '[30-40)', '[10-20)', '[0-10)'], dtype=object)

In [10]:
df["age group"] = df["age group"].map({"[80-90)": 1, "[50-60)": 2, "[70-80)": 3, "[90-100)": 4, "[60-70)": 5, "[20-30)": 6, "[40-50)": 7, "[30-40)": 8, "[10-20)": 9, "[0-10)": 10}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,No,No,No,No,No,No,No,No,No,Yes
1,97835454,25776306,1,0,1,?,5,3,17,3,...,No,No,Steady,No,No,No,No,No,No,Yes
2,431347352,42491844,1,1,2,?,3,1,1,1,...,No,No,Steady,No,No,No,No,No,No,Yes
3,153301914,87104907,1,0,3,?,5,3,1,3,...,No,No,No,No,No,No,No,No,No,No
4,304851608,70844364,1,0,4,?,1,3,7,5,...,No,No,Steady,No,No,No,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,No,No,Steady,No,No,No,No,No,Ch,Yes
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,No,No,Up,No,No,No,No,No,Ch,Yes
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,No,No,No,No,No,No,No,No,No,No
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,No,No,Steady,No,No,No,No,No,No,Yes
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,No,No,Up,No,No,No,No,No,Ch,Yes

In [11]:
df["examide"].unique()

array(['No'], dtype=object)

In [12]:
df["examide"] = df["examide"].map({"No":1}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,No,No,No,No,No,No,No,No,Yes
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,No,Steady,No,No,No,No,No,No,Yes
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,No,Steady,No,No,No,No,No,No,Yes
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,No,No,No,No,No,No,No,No,No
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,No,Steady,No,No,No,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,No,Steady,No,No,No,No,No,Ch,Yes
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,No,Up,No,No,No,No,No,Ch,Yes
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,No,No,No,No,No,No,No,No,No
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,No,Steady,No,No,No,No,No,No,Yes
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,No,Up,No,No,No,No,No,Ch,Yes

In [13]:
df["citoglipton"].unique()

array(['No'], dtype=object)

In [14]:
df["citoglipton"] = df["citoglipton"].map({"No":1}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,No,No,No,No,No,No,No,Yes
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,Steady,No,No,No,No,No,No,Yes
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,Steady,No,No,No,No,No,No,Yes
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,No,No,No,No,No,No,No,No
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,Steady,No,No,No,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,Steady,No,No,No,No,No,Ch,Yes
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,Up,No,No,No,No,No,Ch,Yes
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,No,No,No,No,No,No,No,No
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,Steady,No,No,No,No,No,No,Yes
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,Up,No,No,No,No,No,Ch,Yes

In [15]:
df["insulin"].unique()

array(['No', 'Steady', 'Up', 'Down'], dtype=object)

In [16]:
df["insulin"] = df["insulin"].map({"No":1,"Steady":2, "Up":3, "Down":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,No,No,No,No,No,No,Yes
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,No,No,No,No,No,No,Yes
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,No,No,No,No,No,No,Yes
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,No,No,No,No,No,No,No
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,No,No,No,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,No,No,No,No,No,Ch,Yes
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,No,No,No,No,No,Ch,Yes
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,No,No,No,No,No,No,No
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,No,No,No,No,No,No,Yes
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,No,No,No,No,No,Ch,Yes

In [17]:
df["glyburide-metformin"].unique()

array(['No', 'Steady', 'Up', 'Down'], dtype=object)

In [18]:
 df["glyburide-metformin"] =  df["glyburide-metformin"].map({"No":1,"Steady":2, "Up":3, "Down":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,No,No,No,No,No,Yes
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,No,No,No,No,No,Yes
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,No,No,No,No,No,Yes
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,No,No,No,No,No,No
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,No,No,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,No,No,No,No,Ch,Yes
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,No,No,No,No,Ch,Yes
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,No,No,No,No,No,No
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,No,No,No,No,No,Yes
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,No,No,No,No,Ch,Yes

In [19]:
df["glipizide-metformin"].unique()

array(['No', 'Steady'], dtype=object)

In [20]:
df["glipizide-metformin"] = df["glipizide-metformin"].map({"No":1,"Steady":2}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,No,No,No,No,Yes
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,No,No,No,No,Yes
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,No,No,No,No,Yes
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,No,No,No,No,No
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,No,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,No,No,No,Ch,Yes
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,No,No,No,Ch,Yes
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,No,No,No,No,No
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,No,No,No,No,Yes
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,No,No,No,Ch,Yes

In [21]:
df["glimepiride-pioglitazone"].unique()

array(['No'], dtype=object)

In [22]:
 df["glimepiride-pioglitazone"] =  df["glimepiride-pioglitazone"].map({"No":1}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,No,No,No,Yes
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,No,No,No,Yes
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,No,No,No,Yes
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,No,No,No,No
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,No,No,Ch,Yes
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,No,No,Ch,Yes
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,No,No,No,No
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,No,No,No,Yes
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,No,No,Ch,Yes

In [23]:
df["metformin-rosiglitazone"].unique()

array(['No', 'Steady'], dtype=object)

In [24]:
df["metformin-rosiglitazone"] = df["metformin-rosiglitazone"].map({"No": 1, "Steady":2}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,No,No,Yes
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,No,No,Yes
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,No,No,Yes
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,No,No,No
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,No,Ch,Yes
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,No,Ch,Yes
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,No,No,No
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,No,No,Yes
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,No,Ch,Yes

In [25]:
 df["metformin-pioglitazone"].unique()

array(['No', 'Steady'], dtype=object)

In [26]:
df["metformin-pioglitazone"] = df["metformin-pioglitazone"].map({"No":1, "Steady":2}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,No,Yes
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,No,Yes
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,No,Yes
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,No,No
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,Ch,Yes
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,Ch,Yes
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,No,No
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,No,Yes
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,Ch,Yes

In [27]:
df["change"].unique()

array(['No', 'Ch'], dtype=object)

In [28]:
df["change"] = df["change"].map({"No":1, "Ch":2}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,Yes
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,Yes
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,Yes
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,No
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,Yes
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,Yes
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,No
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,Yes
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,Yes

In [29]:
df["Med"].unique()

array(['Yes', 'No'], dtype=object)

In [30]:
df["Med"] = df["Med"].map({"Yes":1, "No":2}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [31]:
df["tolazamide"].unique()

array(['No', 'Steady', 'Up'], dtype=object)

In [32]:
df["tolazamide"] = df["tolazamide"].map({"No":1, "Steady":2,"Up":3}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [33]:
df["troglitazone"].unique()

array(['No', 'Steady'], dtype=object)

In [34]:
df['troglitazone'] = df["troglitazone"].map({"No":1,"Steady":2}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [35]:
df["miglitol"].unique()

array(['No', 'Steady', 'Down', 'Up'], dtype=object)

In [36]:
df["miglitol"] = df["miglitol"].map({"No":1,"Steady":2, "Up":3, "Down":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [37]:
df["acarbose"].unique()

array(['No', 'Steady', 'Down', 'Up'], dtype=object)

In [38]:
df["acarbose"] = df["acarbose"].map({"No":1,"Steady":2, "Up":3, "Down":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [39]:
df["rosiglitazone"].unique()

array(['No', 'Steady', 'Down', 'Up'], dtype=object)

In [40]:
 df["rosiglitazone"] = df["rosiglitazone"].map({"No":1,"Steady":2, "Up":3, "Down":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [41]:
df["pioglitazone"].unique()

array(['No', 'Steady', 'Up', 'Down'], dtype=object)

In [42]:
df["pioglitazone"] = df["pioglitazone"].map({"No":1,"Steady":2, "Up":3, "Down":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [43]:
df["tolbutamide"].unique()

array(['No', 'Steady'], dtype=object)

In [44]:
df["tolbutamide"] = df["tolbutamide"].map({"No":1,"Steady":2}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [45]:
df["glyburide"].unique()

array(['No', 'Steady', 'Up', 'Down'], dtype=object)

In [46]:
 df["glyburide"] =  df["glyburide"].map({"No":1,"Steady":2, "Up":3, "Down":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [47]:
df["glipizide"].unique()

array(['No', 'Steady', 'Down', 'Up'], dtype=object)

In [48]:
df["glipizide"] = df["glipizide"].map({"No":1,"Steady":2, "Up":3, "Down":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [49]:
df["acetohexamide"].unique()

array(['No', 'Steady'], dtype=object)

In [50]:
df["acetohexamide"] = df["acetohexamide"].map({"No":1,"Steady":2}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [51]:
df["glimepiride"].unique()

array(['Steady', 'No', 'Up', 'Down'], dtype=object)

In [52]:
 df["glimepiride"] = df["glimepiride"].map({"No":1,"Steady":2, "Up":3, "Down":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [53]:
df["chlorpropamide"].unique()

array(['No', 'Steady', 'Up'], dtype=object)

In [54]:
 df["chlorpropamide"] =  df["chlorpropamide"].map({"No":1,"Steady":2, "Up":3}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [55]:
df["nateglinide"].unique()

array(['No', 'Steady', 'Up', 'Down'], dtype=object)

In [56]:
 df["nateglinide"] = df["nateglinide"].map({"No":1,"Steady":2, "Up":3, "Down":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [57]:
df["repaglinide"].unique()

array(['No', 'Steady', 'Down', 'Up'], dtype=object)

In [58]:
df["repaglinide"] = df["repaglinide"].map({"No":1,"Steady":2, "Up":3, "Down":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [59]:
df["metformin"].unique()

array(['No', 'Up', 'Steady', 'Down'], dtype=object)

In [60]:
df["metformin"] = df["metformin"].map({"No":1,"Steady":2, "Up":3, "Down":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [61]:
df["A1Cresult"].unique()

array(['Norm', 'None', '>8', '>7'], dtype=object)

In [62]:
 df["A1Cresult"] = df["A1Cresult"].map({"Norm":1,"None":2, ">8":3, ">7":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [63]:
df["max_glu_serum"].unique()

array(['None', '>300', 'Norm', '>200'], dtype=object)

In [64]:
df["max_glu_serum"] = df["max_glu_serum"].map({"None":1,">300":2, "Norm":3, ">200":4}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [65]:
df["payer_code"].unique()

array(['MC', 'SP', '?', 'BC', 'CP', 'UN', 'CM', 'MD', 'HM', 'OG', 'WC',
       'DM', 'PO', 'OT', 'SI', 'CH', 'MP', 'FR'], dtype=object)

In [66]:
df["payer_code"] = df["payer_code"].map({'MC':1, 'SP':2, '?':-1, 'BC':3, 'CP':4, 'UN':5, 'CM':6, 'MD':7, 'HM':8, 'OG':9, 'WC':10,
       'DM':11, 'PO':12, 'OT':13, 'SI':14, 'CH':15, 'MP':16, 'FR':17}.get)
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med
0,122283168,113223627,1,0,1,?,1,1,7,4,...,1,1,1,1,1,1,1,1,1,1
1,97835454,25776306,1,0,1,?,5,3,17,3,...,1,1,2,1,1,1,1,1,1,1
2,431347352,42491844,1,1,2,?,3,1,1,1,...,1,1,2,1,1,1,1,1,1,1
3,153301914,87104907,1,0,3,?,5,3,1,3,...,1,1,1,1,1,1,1,1,1,2
4,304851608,70844364,1,0,4,?,1,3,7,5,...,1,1,2,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,64367586,89250084,1,0,1,?,2,1,7,2,...,1,1,2,1,1,1,1,1,2,1
71232,290180694,44177697,1,1,5,?,3,1,1,4,...,1,1,3,1,1,1,1,1,2,1
71233,130101072,113734728,1,0,1,?,2,3,7,6,...,1,1,1,1,1,1,1,1,1,2
71234,26933646,107965575,1,0,1,?,2,6,20,4,...,1,1,2,1,1,1,1,1,1,1
71235,189027114,71449254,1,0,2,?,1,1,7,2,...,1,1,3,1,1,1,1,1,2,1

In [67]:
print(df.describe())

                 id    patient_no          cast        gender     age group  \
count  7.123600e+04  7.123600e+04  71236.000000  71236.000000  71236.000000
mean   1.654762e+08  5.438454e+07      1.361152      0.463614      3.623505
std    1.026980e+08  3.871642e+07      0.761313      0.498734      2.064240
min    1.573800e+04  1.350000e+02      1.000000      0.000000      1.000000
25%    8.517515e+07  2.342767e+07      1.000000      0.000000      2.000000
50%    1.526683e+08  4.547114e+07      1.000000      0.000000      3.000000
75%    2.307590e+08  8.747864e+07      2.000000      1.000000      5.000000
max    4.438672e+08  1.895026e+08      5.000000      2.000000     10.000000

       admission_typeid  discharge_disposition_id  admission_source_id  \
count      71236.000000              71236.000000         71236.000000
mean           2.022447                  3.714751             5.742195
std            1.442203                  5.277423             4.067795
min            1.000000                  1.000000             1.000000
25%            1.000000                  1.000000             1.000000
50%            1.000000                  1.000000             7.000000
75%            3.000000                  4.000000             7.000000
max            8.000000                 28.000000            25.000000

       time_in_hospital    payer_code  ...  examide  citoglipton  \
count      71236.000000  71236.000000  ...  71236.0      71236.0
mean           4.394534      1.515905  ...      1.0          1.0
std            2.988832      3.092952  ...      0.0          0.0
min            1.000000     -1.000000  ...      1.0          1.0
25%            2.000000     -1.000000  ...      1.0          1.0
50%            4.000000      1.000000  ...      1.0          1.0
75%            6.000000      2.000000  ...      1.0          1.0
max           14.000000     17.000000  ...      1.0          1.0

            insulin  glyburide-metformin  glipizide-metformin  \
count  71236.000000         71236.000000         71236.000000
mean       1.882714             1.007258             1.000126
std        1.021005             0.087809             0.011240
min        1.000000             1.000000             1.000000
25%        1.000000             1.000000             1.000000
50%        2.000000             1.000000             1.000000
75%        2.000000             1.000000             1.000000
max        4.000000             4.000000             2.000000

       glimepiride-pioglitazone  metformin-rosiglitazone  \
count                   71236.0             71236.000000
mean                        1.0                 1.000014
std                         0.0                 0.003747
min                         1.0                 1.000000
25%                         1.0                 1.000000
50%                         1.0                 1.000000
75%                         1.0                 1.000000
max                         1.0                 2.000000

       metformin-pioglitazone        change           Med
count            71236.000000  71236.000000  71236.000000
mean                 1.000014      1.460217      1.231498
std                  0.003747      0.498418      0.421793
min                  1.000000      1.000000      1.000000
25%                  1.000000      1.000000      1.000000
50%                  1.000000      1.000000      1.000000
75%                  1.000000      2.000000      1.000000
max                  2.000000      2.000000      2.000000

[8 rows x 44 columns]

In [68]:
df=df.drop(columns=['id', 'cast','patient_no','diag_1','diag_2','diag_3','medical_specialty', 'weight'])
print(df.describe())

             gender     age group  admission_typeid  discharge_disposition_id  \
count  71236.000000  71236.000000      71236.000000              71236.000000
mean       0.463614      3.623505          2.022447                  3.714751
std        0.498734      2.064240          1.442203                  5.277423
min        0.000000      1.000000          1.000000                  1.000000
25%        0.000000      2.000000          1.000000                  1.000000
50%        0.000000      3.000000          1.000000                  1.000000
75%        1.000000      5.000000          3.000000                  4.000000
max        2.000000     10.000000          8.000000                 28.000000

       admission_source_id  time_in_hospital    payer_code  \
count         71236.000000      71236.000000  71236.000000
mean              5.742195          4.394534      1.515905
std               4.067795          2.988832      3.092952
min               1.000000          1.000000     -1.000000
25%               1.000000          2.000000     -1.000000
50%               7.000000          4.000000      1.000000
75%               7.000000          6.000000      2.000000
max              25.000000         14.000000     17.000000

       num_lab_procedures  num_procedures  num_medications  ...  examide  \
count        71236.000000    71236.000000     71236.000000  ...  71236.0
mean            43.017702        1.339435        16.009153  ...      1.0
std             19.688089        1.703717         8.136838  ...      0.0
min              1.000000        0.000000         1.000000  ...      1.0
25%             31.000000        0.000000        10.000000  ...      1.0
50%             44.000000        1.000000        15.000000  ...      1.0
75%             57.000000        2.000000        20.000000  ...      1.0
max            132.000000        6.000000        79.000000  ...      1.0

       citoglipton       insulin  glyburide-metformin  glipizide-metformin  \
count      71236.0  71236.000000         71236.000000         71236.000000
mean           1.0      1.882714             1.007258             1.000126
std            0.0      1.021005             0.087809             0.011240
min            1.0      1.000000             1.000000             1.000000
25%            1.0      1.000000             1.000000             1.000000
50%            1.0      2.000000             1.000000             1.000000
75%            1.0      2.000000             1.000000             1.000000
max            1.0      4.000000             4.000000             2.000000

       glimepiride-pioglitazone  metformin-rosiglitazone  \
count                   71236.0             71236.000000
mean                        1.0                 1.000014
std                         0.0                 0.003747
min                         1.0                 1.000000
25%                         1.0                 1.000000
50%                         1.0                 1.000000
75%                         1.0                 1.000000
max                         1.0                 2.000000

       metformin-pioglitazone        change           Med
count            71236.000000  71236.000000  71236.000000
mean                 1.000014      1.460217      1.231498
std                  0.003747      0.498418      0.421793
min                  1.000000      1.000000      1.000000
25%                  1.000000      1.000000      1.000000
50%                  1.000000      1.000000      1.000000
75%                  1.000000      2.000000      1.000000
max                  2.000000      2.000000      2.000000

[8 rows x 41 columns]

In [69]:
df1 = pd.read_csv('Y_train.csv')
df1

      label
0        NO
1        NO
2       <30
3        NO
4        NO
...     ...
71231   <30
71232    NO
71233    NO
71234    NO
71235    >5

[71236 rows x 1 columns]

In [70]:
df1['label'].unique()

array(['NO', '<30', '>5'], dtype=object)

In [71]:
df1["label"] = df1["label"].map({"NO":0,"<30":1, ">5":2}.get)
print(df1)

       label
0          0
1          0
2          1
3          0
4          0
...      ...
71231      1
71232      0
71233      0
71234      0
71235      2

[71236 rows x 1 columns]

In [72]:
x = df.to_numpy()
print(x.shape)

(71236, 41)

In [73]:
from sklearn.preprocessing import LabelEncoder
y = df1.apply(LabelEncoder().fit_transform)

In [74]:
# y.head(48)

In [75]:
from sklearn.linear_model import LogisticRegression

In [76]:

log_model = LogisticRegression()

In [77]:
log_model.fit(x,y)

C:\Users\Nadeem Khan\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\Nadeem Khan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [81]:
log_model.score(x,y)

0.5701471166264248